.copy-component {
  position: absolute;
  top: 50%;
  right: 3rem;

  width: 4rem;
  height: 4rem;

  border-radius: 1rem;
  border: 2px solid var(--color-dark-secondary);

  background-color: var(--color-line-light);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(50%, -50%);
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  cursor: pointer;
}

.copy-component i {
  pointer-events: none;
  user-select: none;

  opacity: 0.5;
  transition: 0.2s ease-in;
}

.copy-component:active,
.copy-component:focus {
  background-color: #202024;
}

.copy-component:active i,
.copy-component:focus i {
  opacity: 1;
}

.copy-component:hover i {
  opacity: 1;
}
