.destroy-button {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  border: 2px solid transparent;

  background-color: transparent;
}

.destroy-button:hover {
  background-color: #202024;

  border-color: var(--color-border-darken);
}
