.loading {
  width: 8rem;
  height: 8rem;

  border-radius: 50%;
  border: var(--loading-stroke) solid var(--color-line-light);
  border-top-color: var(--color-primary);

  animation: loading 0.8s linear infinite;
}

.loading.loading--double {
  border-bottom-color: var(--color-primary);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
