.spinner {
  width: 8rem;
  height: 8rem;

  border-radius: 50%;
  border: 3px solid var(--color-line-light);

  border-top-color: var(--color-primary);

  animation: Loading 0.8s linear infinite;
}

.spinner.spinner--dual {
  border-bottom-color: var(--color-primary);
}

@keyframes Loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
