<!DOCTYPE html>
<html lang="pt-BR" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121214" />
    <meta name="msapplication-navbutton-color" content="#121214" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#121214" />
    <meta name="author" content="José Lucas" />
    <meta
      name="keywords"
      content="witzer.dev, witzer, encurtador, encurtador URL's, público, URLs"
    />
    <meta
      name="description"
      content="Encurte seus links através da plataforma witzer. É fácil, rápido e seguro. 
      Não salvamos dados de sigilosos ou algo que pode rastrear você."
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://witzer.onrender.com/" />
    <meta property="og:title" content="Witzer.io | Encurdator de URL's" />
    <meta
      property="og:description"
      content="Encurte seus links através da plataforma witzer. É fácil, rápido e seguro. 
      Não salvamos dados de sigilosos ou algo que pode rastrear você."
    />
    <meta property="twitter:title" content="Witzer.io | Encurdator de URL's" />
    <meta property="twitter:url" content="https://witzer.onrender.com/" />
    <meta
      property="twitter:description"
      content="Encurte seus links através da plataforma witzer. É fácil, rápido e seguro. 
      Não salvamos dados de sigilosos ou algo que pode rastrear você."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <!-- prettier-ignore -->
    <link rel="shortcut icon"href="/assets/icons/favicon.svg"type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/assets/icons/favicon.svg" />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />
    <link rel="stylesheet" href="/styles/wrapper.css" type="text/css" />

    <link rel="stylesheet" href="/styles/pages/home.css" />
    <link rel="stylesheet" href="/styles/components/modal.component.css" />
    <link rel="stylesheet" href="/styles/components/copy.component.css" />

    <% if (href) { %>
    <script defer src="/scripts/main.js" type="text/javascript"></script>
    <% } %>

    <title>Witzer.dev | Encurdator de URL's</title>
  </head>
  <body>
    <div class="application-wrapper" data-id="wrapper">
      <div class="home-layout">
        <header class="home-header">
          <p class="home-header__version" title="Witzer.dev version 1.0">
            Versão 1.0
          </p>
        </header>

        <section class="home-shortener">
          <h2 class="screen-reader">
            Witzer.dev encurte suas URL's na sessão abaixo
          </h2>

          <div class="shortenner-content">
            <div class="shortenner-content__left">
              <h1 class="shortenner-content__title">
                <a href="/" title="Voltar à HOME">
                  Witzer<span class="title-dot">.</span>dev
                </a>
              </h1>

              <p class="shortener-content__text" title="Witzer.dev: about us">
                Encurte seus links através da plataforma witzer. É fácil, rápido
                e seguro.

                <span class="shortener-content__security">
                  Não salvamos dados de sigilosos ou algo que pode rastrear
                  você.
                </span>
              </p>
            </div>

            <div class="shortener-content__right">
              <form
                action="/shortenings"
                class="shortener-content__form"
                method="POST"
              >
                <fieldset class="shortener-content__form__fields">
                  <legend class="shortener-content__form__title">
                    Criar endereço
                  </legend>

                  <div class="group">
                    <label for="original" class="screen-reader">
                      Endereço de e-mail
                    </label>

                    <div class="input-group">
                      <input
                        id="original"
                        type="url"
                        title="Digite uma URL válida"
                        tabindex="1"
                        name="original_url"
                        placeholder="https://www.google.com"
                        maxlength="2048"
                        required
                        autofocus
                        autocomplete="off"
                      />

                      <div class="link-icon">
                        <img src="/assets/svg/link.svg" alt="Link svg icon" />
                      </div>
                    </div>
                  </div>
                </fieldset>

                <button type="submit" class="shortenner__submit">
                  Encurtar
                </button>
              </form>
            </div>
          </div>
        </section>

        <footer class="home-footer">
          <ul class="home-links">
            <li class="home-links__item">
              <a
                href="https://github.com/lucasbernardol/witzer.mini"
                target="_blank"
                title="Código fonte"
              >
                <img src="/assets/svg/github.svg" alt="Github logo" />
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </div>

    <!-- prettier-ignore -->
    <% if (href) { %>
      <%- include('./components/modal.component.ejs', {
          hidden: false, 
          href, 
        }) 
      %>
    <% } %>
  </body>
</html>
