<!DOCTYPE html>
<html lang="pt-BR" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121214" />
    <meta name="msapplication-navbutton-color" content="#121214" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#121214" />
    <meta name="author" content="José Lucas" />
    <meta
      name="keywords"
      content="witzer.dev, witzer, encurtador, encurtador URL's, público, URLs"
    />
    <meta
      name="description"
      content="Encurte seus links através da plataforma witzer. É fácil, rápido e seguro. 
      Não salvamos dados de sigilosos ou algo que pode rastrear você."
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://witzer.onrender.com/" />
    <meta property="og:title" content="Witzer.io | Encurdator de URL's" />
    <meta
      property="og:description"
      content="Encurte seus links através da plataforma witzer. É fácil, rápido e seguro. 
      Não salvamos dados de sigilosos ou algo que pode rastrear você."
    />
    <meta property="twitter:title" content="Witzer.io | Encurdator de URL's" />
    <meta property="twitter:url" content="https://witzer.onrender.com/" />
    <meta
      property="twitter:description"
      content="Encurte seus links através da plataforma witzer. É fácil, rápido e seguro. 
      Não salvamos dados de sigilosos ou algo que pode rastrear você."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <!-- prettier-ignore -->
    <link rel="shortcut icon"href="/assets/icons/favicon.svg"type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/assets/icons/favicon.svg" />

    <link rel="stylesheet" href="/styles/global.css" type="text/css" />
    <link rel="stylesheet" href="/styles/wrapper.css" type="text/css" />

    <link rel="stylesheet" href="/styles/pages/not-found.css" type="text/css" />

    <title>Witzer.dev | 404</title>
  </head>
  <body>
    <div class="application-wrapper" data-id="wrapper">
      <div class="not-found">
        <section class="error">
          <h2 class="screen-reader">
            Error 404: Não encontramos a informação solicitada.
          </h2>

          <h1 class="error__title" title="Error 404">404</h1>
          <p class="error__description">
            Não encontramos. A informação solicitada não existe ou nunca
            existiu. Continue navegando na aplicação pressionando o botão
            abaixo.
            <br /><br />
            Você será redirecionado à página HOME.
          </p>

          <a href="/" class="error__link">Voltar à HOME</a>
        </section>
      </div>
    </div>
  </body>
</html>
