.home-layout {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.home-header {
  width: 100%;
  height: 6.2rem;

  padding: 2rem;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: downSmooth 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.home-header__version {
  font-size: 1.5rem;
  color: var(--color-text-dark);

  text-transform: capitalize;
  line-height: 1.4;
}

.home-shortener {
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.shortenner-content {
  width: 100%;
  max-width: 90rem; /* 900px */

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: flex-start;

  animation: smooth 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.shortenner-content__left {
  width: 100%;

  padding: 3rem 1rem;

  margin-top: 2rem;
  margin-right: 1rem;
}

.shortenner-content__title a {
  font-size: 3.6rem;
  font-weight: bold;

  text-transform: uppercase;
  line-height: 1.8;

  transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.shortenner-content__title a:hover {
  opacity: 0.6;
}

.shortener-content__text {
  max-width: 90%;
  font-size: 1.9rem;

  line-height: 1.4;
  color: var(--color-text-dark);
}

.shortener-content__security {
  display: block;
  margin-top: 0.8rem;

  color: var(--color-text-dark);

  font-size: 1.6rem;
  line-height: 1.2;
}

.shortener-content__right {
  width: 100%;
  max-width: 48rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
}

.shortener-content__form {
  width: 100%;
  padding: 8rem 7rem;

  border-radius: 8px;
  background-color: var(--color-dark);

  box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.2);
}

.shortener-content__form__fields {
  padding: 1.6rem 0;
}

.shortener-content__form__title {
  display: block;

  width: 100%;
  padding-bottom: 1rem;

  font-size: 2.8rem;
  font-weight: bold;

  color: var(--color-text);
  border-bottom: 1px solid var(--color-line-light);
}

.group {
  width: 100%;

  margin: 1rem 0;
}

.group label {
  display: block;
  margin-bottom: 8px;

  font-size: 1.4rem;
  color: var(--color-text-dark);

  line-height: 1.2;
}

.input-group {
  position: relative;

  margin-bottom: 1rem;
}

.input-group .link-icon {
  user-select: none;
  pointer-events: none;

  position: absolute;
  top: 50%;
  left: 0;

  width: 2.8rem;
  height: 2.8rem;

  transform: translate(50%, -50%);
}

.link-icon img {
  width: 100%;
  height: 100%;
}

input {
  display: block;
  width: 100%;
  padding: 1.6rem 4.8rem;

  border: 2px solid var(--color-line);
  border-radius: 0.8rem;

  color: var(--color-text);
  background-color: var(--color-dark-secondary);

  transition: border-color 0.4s ease;
}

input:focus {
  border-color: var(--color-primary-hover);
}

.shortenner__submit {
  width: 100%;
  height: 5.4rem;

  padding: 2rem;

  font-size: 1.6rem;
  font-weight: bold;

  color: var(--color-text);
  background-color: var(--color-primary);

  border-radius: 8px;
  border-bottom: 8px solid var(--color-primary-hover);

  display: flex;
  justify-content: center;

  align-items: center;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.shortenner__submit:active {
  border-bottom-width: 4px;
}

.home-footer {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  animation: lefter 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.home-links__item a {
  width: 5.6rem;
  height: 5.6rem;
  padding: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition: background 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-links__item a:hover {
  background-color: var(--color-dark);
}

.home-links__item a img {
  width: 2.8rem;
  height: 2.8rem;

  opacity: 0.6;
}

@keyframes lefter {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes smooth {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes downSmooth {
  from {
    opacity: 0;
    transform: translateY(-80%) scale(0.5);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 1024px) {
  .shortenner-content {
    flex-direction: column;

    justify-content: left;
    align-items: flex-start;
  }
}

@media (max-width: 720px) {
  .home-header {
    justify-content: flex-start;
  }

  .shortenner-content__left {
    margin: 0;
  }

  .shortenner-content__right,
  .shortener-content__form {
    margin: 0;
  }

  .shortener-content__form {
    padding: 3.6rem;
  }
}

@media (max-width: 480px) {
  .home-shortener {
    margin-bottom: 4rem;
  }

  .shortener-content__text {
    max-width: 100%;
  }
}
