:root {
  --color-background: #0b0b0c;

  --color-dark: #121214;
  --color-dark-secondary: #202024;
  --color-dark-secondary-hover: #29292e;

  --color-primary: #6e3cbc;
  --color-primary-hover: #5a2fa0;

  --color-text: #e1e1e6;
  --color-text-dark: #767676;

  --color-white: #ffffff;
  --color-line: #252529;
  --color-line-light: rgba(37, 37, 41, 0.6);
  --color-red: rgb(216, 42, 42);

  --color-notifier-enabled: rgb(10, 185, 77);
  --color-notifier-disabled: rgb(196, 30, 30);

  --loading-stroke: 4px;

  font-size: 62.5%;
}

*::selection {
  background-color: rgba(74, 113, 230, 0.3);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  outline: none;
  border: none;

  color: var(--color-text);

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem; /** 16px */
}

a,
button {
  cursor: pointer;
}

button.action {
  font-size: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-background);
}

ul,
ol {
  list-style: none;
}

.screen-reader {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;

  width: 0;
  height: 0;

  padding: 0;
  margin: 0;

  opacity: 0;
  visibility: hidden;

  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;

  font-size: 0px;
}

.title-dot {
  font-size: 4rem;
  color: var(--color-primary);

  line-height: 1;
}

img,
i {
  user-select: none;
  pointer-events: none;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

img {
  object-fit: cover;
  -o-object-fit: cover;
}

input::placeholder {
  user-select: none;
}

@media (max-width: 1024px) {
  :root {
    font-size: 56.2%;
  }
}

@media (max-width: 720px) {
  :root {
    font-size: 52%;
  }
}
