<section
  class="modal-overlay <%= hidden ? 'hidden' : '' %>"
  data-id="modal-copy"
>
  <h2 class="screen-reader">Parabéns copie a sua URL encurtada.</h2>
  <div class="modal-content">
    <header class="modal-header">
      <h2 class="modal-header__title">Copiar endereço</h2>
      <span class="modal-header__text">
        Copie e guarde a URL encurtada com você. <br />
        Após a copia abra uma nova guia e começe a utilização.
      </span>
    </header>

    <section class="modal-copy">
      <!-- prettier-ignore -->
      <output class="output" data-id="output" title="<%= href %>"><%= href %></output>

      <!-- prettier-ignore -->
      <%- include('./copy.component.ejs', { 
          id: 'button-copy',
          title: 'Copiar endereço URL', 
        }) 
      %>
    </section>

    <footer class="modal-footer">
      <button
        title="Sair ou fechar janela"
        type="button"
        class="modal-footer__button"
        data-id="modal-destroy"
      >
        Sair
      </button>
    </footer>
  </div>
</section>
